<h1>ALL RESTAURANTS</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= restaurant.user_id %>
    <%= link_to "show", restaurant %>
    <% if policy(restaurant).edit? %>
      <%= link_to "edit", edit_restaurant_path(restaurant) %>
    <% end %>
    <% if policy(restaurant).destroy? %>
      <%= link_to "delete", restaurant, method: :delete, data: { confirm: "are you sure?"} %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to "Creer un resto", new_restaurant_path %>
<br>
<%= link_to "ALLER BEST RESTO", top_restaurants_path %>
