<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.stars %></p>
<p><%= link_to "chef page", chef_name_restaurant_path(@restaurant) %></p>
<%= link_to "modifier resto", edit_restaurant_path(@restaurant) %>
<br>
<%= link_to "supprimer resto", restaurant_path, method: :delete, data: { confirm: "are you sure?"} %>
<br>
<% if  @restaurant.stars == 5 %>
  <%= link_to "retour", top_restaurants_path %>
<% else %>
  <%= link_to "retour", restaurants_path %>
<% end %>

